.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.text-decoration-none {
    text-decoration: none !important;
}
