.suggestions {
    position: absolute;
    margin-top: 45px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
}

.suggestion-item {
    padding: 0.5rem;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: gray;
}
