.tag-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}

.tag-item:hover, .collection-item:hover {
    transition: background-color 0.3s ease;
}

.item-card {
    display: flex;
    flex-direction: column;
    height: 100%; /* Растягиваем карточку на всю высоту родительского элемента */
}

.item-card .card-body {
    flex: 1; /* Растягиваем содержимое карточки, чтобы занять все доступное пространство по вертикали */
}


.item-card, .hover {
    cursor: pointer;
    transition: transform 0.2s;
}

.item-card:hover, .hover:hover {
    transform: scale(1.05);
}



