/* Home.css */
.tag-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
}


.tag-item:hover, .collection-item:hover {
    /*background-color: #f8f9fa;*/
    transition: background-color 0.3s ease;
}

.item-card, .hover {
    cursor: pointer;
    transition: transform 0.2s;
}

.item-card:hover, .hover:hover {
    transform: scale(1.05);
}



